.code-block,
.tippy-box pre {
  background-color: $gray-100;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  padding: 0.5rem;
}

.navbar .navbar-brand {
  font-weight: bold;
}

.table-button-actions {
  text-align: right;
  position: relative;
  height: 0px;
  margin: 0px;
  z-index: 999;
}

.arrow {
  margin-top: 1.5rem;
  text-align: center;
  color: $gray-600;
  font-size: 0.75rem;
  line-height: 1em;

  .svg-inline--fa {
    color: lighten($gray-600, 16%);
    vertical-align: middle;
  }
}

.arrow-vertical {
  margin: 0px;
}

.arrow-vertical i {
  vertical-align: middle;
}

a.remove-action {
  font-size: 0.75rem;
  color: $danger;
}

.api-key {
  font-family: $font-family-monospace;
}

.record-details {
  text-align: right;
  font-size: 0.75rem;
  line-height: 1.2em;
  color: $text-muted;
}

.diff {
  del {
    text-decoration: none;
    background: #fdd;
  }

  ins {
    text-decoration: none;
    background: #dfd;
  }
}

.publish-toggle-checkboxes {
  margin: -1rem 0px 2rem 0px;
  text-align: center;
  width: 5rem;
  font-size: 0.75rem;
}

.control-group-negative-top {
  margin-top: -16px;
}

#version_footer .row .col-12 {
  border-top: 1px solid $gray-200;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  padding-top: 1em;
  font-size: 0.75rem;
  color: $text-muted;
}

// For when we want to submit a form with the enter key, but don't want a real
// submit button visible in the form (eg, in modals where the submit button is
// in the modal footer and not inside the <form> tag):
// http://stackoverflow.com/q/477691
.hidden-submit-button {
  position: absolute;
  left: -9999px;
  height: 0px;
  width: 0px;
  border: none;
  padding: 0px;
  margin: 0px;
}

.btn-light {
  @include button-variant($gray-300, $gray-400);
}

// Workaround for ember-bootstrap 4.9.0 flashing modal backgrounds as solid
// black when opening and closing:
// https://github.com/kaliber5/ember-bootstrap/issues/1601
.modal-backdrop:not(.fade):not(.show) {
  opacity: $modal-backdrop-opacity;
}

.alert p:last-of-type {
  margin-bottom: 0px;
}
