label {
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.form-check-label {
  font-weight: normal;
}

.form-horizontal .col-form-label {
  text-align: right;
}

.form-fields-checkboxes-field .form-horizontal .col-form-label {
  padding-top: 0px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-horizontal.condensed .form-group {
  margin-bottom: 0.25rem;
}

fieldset {
  margin: 0.5rem 0px 2rem 0px;
  padding: 0.25rem 0px;
}

fieldset.collapsible {
  margin-bottom: 0.75rem;

  .collapse.show {
    margin-bottom: 2rem;
  }
}

legend {
  margin-bottom: 0.5rem;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: $gray-600;
  padding: 6px 10px 3px 2px;
  line-height: 22px;
  background-color: #fff;
}

legend button.btn-link {
  padding: 0px;
  font-size: inherit;
  line-height: inherit;
  border-width: 0px;
}

legend a,
legend button.btn-link {
  display: block;
  color: $link-color !important;
  text-decoration: none !important;

  &:hover {
    color: $link-hover-color !important;
  }
}

.fieldset-note {
  font-size: 0.85rem;
  color: $text-muted;
  margin-bottom: 0.25rem;
}

fieldset .table {
  margin-bottom: 0.25rem;
}

.has-error {
  .form-control {
    @extend .is-invalid;
  }

  .invalid-feedback,
  .invalid-tooltip {
    display: block;
  }
}

.error-messages {
  h4 {
    margin-bottom: 0.25rem;
  }

  ul {
    margin-bottom: 0px;

    ul {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  li {
    p {
      margin: 10px 0px 0px 0px;
    }

    p:first-child {
      margin: 0px;
    }
  }
}

.error-page {
  margin: 0px auto;
  max-width: 420px;
}

.form-extra-actions {
  margin-top: 20px;
}

.btn {
  .btn-loading-label {
    display: none;

    .svg-inline--fa:first-child {
      @extend .me-2;
    }
  }

  &.btn-loading {
    .btn-label {
      display: none;
    }

    .btn-loading-label {
      display: inline;
    }
  }
}

.form-control-plaintext {
  ul {
    padding-left: 1.5rem;
    margin-bottom: 0px;
  }
}

.btn-light {
  --bs-btn-active-bg: #{$gray-500};
}
