{{#each this.currentFlashMessages.items as |flash|}}
  <BsAlert @type={{flash.type}}>
    {{#if flash.title}}
      <div><strong>{{flash.title}}</strong></div>
    {{/if}}
    {{! template-lint-disable no-triple-curlies }}{{{flash.message}}}
  </BsAlert>
{{/each}}
