$border-color: #adb5bd;

@import "bootstrap";

body {
  padding: 20px;
}

.login h1 {
  text-align: center;
  margin: 0px 0px 1rem 0px;
  font-weight: 200;
}

.login label {
  font-weight: normal;
}

.login, .alert {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.alert p:last-child {
  margin-bottom: 0px;
}

.login .btn {
  display: block;
  width: 100%;
  padding: 0.625rem;
  background-color: #07c;
  color: #fff;
  border-style: none;
}

.login .btn:hover {
  background-color: #005a9a;
}

.login .btn:disabled,
.login .btn[disabled]:hover,
.login .btn[disabled]:focus {
  background-color: #ddd;
  color: #666;
}

.login .login-container {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 1rem;
  margin: 1rem 0px;
}

.external-login {
  margin-top: 1.25rem;
  line-height: 1.5em;
}

.external-login:first-child {
  margin-top: 0px;
}

.external-login .alert {
  margin-bottom: 2px;
  font-size: 0.875rem;
}

.external-login .btn span {
  display: inline-block;
}

.external-login .btn .svg-inline--fa {
  margin-right: 3px;
  font-size: 1.5rem;
}

.external-login .btn span,
.external-login .btn .svg-inline--fa {
  vertical-align: middle;
  line-height: 1.5em;
}

.login .checkbox {
  margin: 0px;
}
